:root {
  --color-gray-1: #f6f6f6;
  --color-gray-2: #e2e2e2;
  --color-gray-3: #8b8b8b;
  --color-gray-4: #6f6f6f;
  --color-gray-5: #3e3e3e;
  --color-gray-6: #222222;
  --color-rose-1: #fff7f9;
  --color-rose-2: #ffdce5;
  --color-rose-3: #ff3b8d;
  --color-rose-4: #db0072;
  --color-rose-5: #800040;
  --color-rose-6: #4c0023;
  --color-raspberry-1: #fff8f8;
  --color-raspberry-2: #ffdddf;
  --color-raspberry-3: #ff426c;
  --color-raspberry-4: #de0051;
  --color-raspberry-5: #82002c;
  --color-raspberry-6: #510018;
  --color-red-1: #fff8f6;
  --color-red-2: #ffddd8;
  --color-red-3: #ff4647;
  --color-red-4: #e0002b;
  --color-red-5: #830014;
  --color-red-6: #530003;
  --color-orange-1: #fff8f5;
  --color-orange-2: #ffded1;
  --color-orange-3: #fd4d00;
  --color-orange-4: #cd3c00;
  --color-orange-5: #752100;
  --color-orange-6: #401600;
  --color-cinnamon-1: #fff8f3;
  --color-cinnamon-2: #ffdfc6;
  --color-cinnamon-3: #d57300;
  --color-cinnamon-4: #ac5c00;
  --color-cinnamon-5: #633300;
  --color-cinnamon-6: #371d00;
  --color-amber-1: #fff8ef;
  --color-amber-2: #ffe0b2;
  --color-amber-3: #b98300;
  --color-amber-4: #926700;
  --color-amber-5: #523800;
  --color-amber-6: #302100;
  --color-yellow-1: #fff9e5;
  --color-yellow-2: #ffe53e;
  --color-yellow-3: #9c8b00;
  --color-yellow-4: #7d6f00;
  --color-yellow-5: #463d00;
  --color-yellow-6: #292300;
  --color-lime-1: #f7ffac;
  --color-lime-2: #d5f200;
  --color-lime-3: #819300;
  --color-lime-4: #677600;
  --color-lime-5: #394100;
  --color-lime-6: #222600;
  --color-chartreuse-1: #e5ffc3;
  --color-chartreuse-2: #98fb00;
  --color-chartreuse-3: #5c9b00;
  --color-chartreuse-4: #497c00;
  --color-chartreuse-5: #264500;
  --color-chartreuse-6: #182600;
  --color-green-1: #e0ffd9;
  --color-green-2: #72ff6c;
  --color-green-3: #00a21f;
  --color-green-4: #008217;
  --color-green-5: #004908;
  --color-green-6: #062800;
  --color-emerald-1: #dcffe6;
  --color-emerald-2: #5dffa2;
  --color-emerald-3: #00a05a;
  --color-emerald-4: #008147;
  --color-emerald-5: #004825;
  --color-emerald-6: #002812;
  --color-aquamarine-1: #daffef;
  --color-aquamarine-2: #42ffc6;
  --color-aquamarine-3: #009f78;
  --color-aquamarine-4: #007f5f;
  --color-aquamarine-5: #004734;
  --color-aquamarine-6: #00281b;
  --color-teal-1: #d7fff7;
  --color-teal-2: #00ffe4;
  --color-teal-3: #009e8c;
  --color-teal-4: #007c6e;
  --color-teal-5: #00443c;
  --color-teal-6: #002722;
  --color-cyan-1: #c4fffe;
  --color-cyan-2: #00fafb;
  --color-cyan-3: #00999a;
  --color-cyan-4: #007a7b;
  --color-cyan-5: #004344;
  --color-cyan-6: #002525;
  --color-powder-1: #dafaff;
  --color-powder-2: #8df0ff;
  --color-powder-3: #0098a9;
  --color-powder-4: #007987;
  --color-powder-5: #004048;
  --color-powder-6: #002227;
  --color-sky-1: #e3f7ff;
  --color-sky-2: #aee9ff;
  --color-sky-3: #0094b4;
  --color-sky-4: #007590;
  --color-sky-5: #00404f;
  --color-sky-6: #001f28;
  --color-cerulean-1: #e8f6ff;
  --color-cerulean-2: #b9e3ff;
  --color-cerulean-3: #0092c5;
  --color-cerulean-4: #00749d;
  --color-cerulean-5: #003c54;
  --color-cerulean-6: #001d2a;
  --color-azure-1: #e8f2ff;
  --color-azure-2: #c6e0ff;
  --color-azure-3: #008fdb;
  --color-azure-4: #0071af;
  --color-azure-5: #003b5e;
  --color-azure-6: #001c30;
  --color-blue-1: #f0f4ff;
  --color-blue-2: #d4e0ff;
  --color-blue-3: #0089fc;
  --color-blue-4: #006dca;
  --color-blue-5: #00386d;
  --color-blue-6: #001a39;
  --color-indigo-1: #f3f3ff;
  --color-indigo-2: #deddff;
  --color-indigo-3: #657eff;
  --color-indigo-4: #0061fc;
  --color-indigo-5: #00328a;
  --color-indigo-6: #001649;
  --color-violet-1: #f7f1ff;
  --color-violet-2: #e8daff;
  --color-violet-3: #9b70ff;
  --color-violet-4: #794aff;
  --color-violet-5: #2d0fbf;
  --color-violet-6: #0b0074;
  --color-purple-1: #fdf4ff;
  --color-purple-2: #f7d9ff;
  --color-purple-3: #d150ff;
  --color-purple-4: #b01fe3;
  --color-purple-5: #660087;
  --color-purple-6: #3a004f;
  --color-magenta-1: #fff3fc;
  --color-magenta-2: #ffd7f6;
  --color-magenta-3: #f911e0;
  --color-magenta-4: #ca00b6;
  --color-magenta-5: #740068;
  --color-magenta-6: #44003c;
  --color-pink-1: #fff7fb;
  --color-pink-2: #ffdcec;
  --color-pink-3: #ff2fb2;
  --color-pink-4: #d2008f;
  --color-pink-5: #790051;
  --color-pink-6: #4b0030;
  --mobile-h1: 1.802rem;
  --mobile-h2: 1.602rem;
  --mobile-h3: 1.424rem;
  --mobile-h4: 1.266rem;
  --mobile-h5: 1.125rem;
  --mobile-small: 0.889rem;
  --tablet-h1: 3.052rem;
  --tablet-h2: 2.441rem;
  --tablet-h3: 1.953rem;
  --tablet-h4: 1.563rem;
  --tablet-h5: 1.25rem;
  --tablet-small: 0.8rem;
  --desktop-h1: 4.209rem;
  --desktop-h2: 3.157rem;
  --desktop-h3: 2.369rem;
  --desktop-h4: 1.777rem;
  --desktop-h5: 1.333rem;
  --desktop-small: 0.75rem;
}

@font-face {
  font-family: "Jost-fallback";
  src: local("Arial");
  size-adjust: 95.32000000000005%;
  ascent-override: 130%;
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/jost-v13-latin-900.woff2") format("woff2"),
    url("../fonts/jost-v13-latin-900.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans-fallback";
  src: local("Arial");
  size-adjust: 105.44%;
  ascent-override: 98%;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v29-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin-700.woff") format("woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 112.5%;
  line-height: 1.6;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  cursor: default;
  background-color: var(--color-teal-2);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 0;
}

::-moz-selection {
  color: var(--color-teal-1);
  background-color: var(--color-teal-6);
}

::selection {
  color: var(--color-teal-1);
  background-color: var(--color-teal-6);
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Open Sans", "Open Sans-fallback", sans-serif;
  font-weight: 400;
  color: var(--color-teal-6);
  background-color: var(--color-teal-1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease-in-out;
}

main {
  display: block;
}

h1,
h2 {
  margin: 3rem 0 1.38rem 0;
  font-family: "Jost", "Jost-fallback", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: var(--mobile-h1);
}

h2 {
  font-size: var(--mobile-h2);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
}

label,
input {
  display: block;
}

input {
  width: 100%;
  padding: 0.2rem 0.6rem;
  color: inherit;
  background-color: var(--color-teal-2);
  border: 2px solid transparent;
  outline: transparent solid 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12),
    inset 0 1px 2px rgba(0, 0, 0, 0.24);
  transition-duration: 0.3s;
}

input:hover,
input:focus {
  outline: var(--color-teal-6) solid 4px;
}

button,
[type="submit"] {
  padding: 0.2rem 0.6rem;
  font-weight: 700;
  color: var(--color-teal-1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: var(--color-azure-3);
  border: 2px solid transparent;
  outline: transparent solid 2px;
  transition-duration: 0.3s;
  -webkit-appearance: button;
  -webkit-tap-highlight-color: transparent;
}

button:hover,
button:focus {
  background-color: var(--color-azure-4);
}

.font-bold {
  font-weight: 700;
}

.gap-4 {
  gap: 4vw;
}

.grid {
  display: grid;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.max-w-400 {
  max-width: 400px;
}

.max-w-800 {
  max-width: 800px;
}

.min-h-100 {
  min-height: 100vh;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-4 {
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.p-4 {
  padding: 4vw;
}

.txt-center {
  text-align: center;
}

.txt-size-h1 {
  font-size: var(--mobile-h1);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
  }

  body {
    color: var(--color-gray-2);
    background-color: var(--color-gray-6);
  }

  ::-moz-selection {
    color: var(--color-gray-6);
    background-color: var(--color-gray-2);
  }

  ::selection {
    color: var(--color-gray-6);
    background-color: var(--color-gray-2);
  }

  input {
    background-color: var(--color-gray-5);
  }

  input:hover,
  input:focus {
    outline: var(--color-gray-2) solid 4px;
  }
}

/* 640px */
@media (min-width: 40em) {
  h1 {
    font-size: var(--tablet-h1);
  }

  h2 {
    font-size: var(--tablet-h2);
  }

  .txt-size-h1 {
    font-size: var(--tablet-h1);
  }
}

/* 1024 */
@media (min-width: 64em) {
  .md-gap-2 {
    gap: 2vw;
  }

  .md-my-2 {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .md-p-0 {
    padding: 0;
  }
}

/* 1280px */
@media (min-width: 80em) {
  html {
    font-size: 125%;
  }

  h1 {
    font-size: var(--desktop-h1);
  }

  h2 {
    font-size: var(--desktop-h2);
  }

  .txt-size-h1 {
    font-size: var(--desktop-h1);
  }
}

/* 1920px */
@media (min-width: 120em) {
  html {
    font-size: 137.5%;
  }

  .md-gap-2 {
    gap: 38px;
  }

  .md-my-2 {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}
